@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

.header__container {
  display: flex;
  gap: 1rem;
  padding-top: 5rem;
}

/* =============== ME ============= */
.user {
  color: var(--lightest-slate);
  font-size: 3rem;
  font-weight: 900;
}

.user__intro {
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 2rem;
  border-bottom: 2px solid var(--slate);
  color: var(--slate);
}

@media screen and (max-width: 600px) {
  .header__container {
    display: flex;
    flex-direction: column;
  }

  .me__text {
    padding-bottom: 1rem;
    width: 100%;
  }
}
