.footer__wrapper {
  color: var(--color-white);
  padding-top: 4rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  position: relative;
  left: 0;
  bottom: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.social-redirects {
  display: flex;
  flex-direction: row;
  height: max-content;
  margin-left: auto;
}

.social-redirects i {
  display: block;
  transition: all 0.3s;
  cursor: pointer;
  margin: auto auto auto 20px;
  font-size: 18px;
}

.social-redirects i:hover {
  color: var(--green);
}

.divider {
  padding-right: 20px;
  border-right: 1px solid var(--slate);
}

.source-code {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  border-bottom: 1px solid transparent;
}

.source-code:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
  width: max-content;
}
