@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --background: #0a192f;
  --green: #64ffda;
  --white: #fff;
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;

  --container-width-lg: 60%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;

  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inconsolata", monospace;
  background: var(--background);
  color: var(--white);
}

a {
  color: var(--white);
}

section {
  margin-top: 3rem;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.content-wrapper {
  min-height: calc(100vh - 99px);
}



.header {
  font-size: var(--fz-heading);
  font-weight: bold;
  text-align: left;
  color: var(--lightest-slate);
  padding: 2rem 0;
}

.serial-number {
  color: var(--green);
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}
